{% extends parent_template|default:"organizer/base.html" %}

{% block title %}
{{ block.super }}  - {{ tag.name|title }}
{% endblock %}

{% block content %}

<h2> TagList<!-- name of tag --> </h2>
    <div class="col-lg-8 d-lg-block">

        <a href="{% url 'organizer_tag_create' %}">Create a New Tag</a>
    </div>
        <ul>
            <!-- list of startups related to tag-->

                {% for tag in tag_list %}
                <li><a href="{{ tag.get_absolute_url }}">
                    {{ tag.name|title}}
                </a></li>
                {% empty %}
                <li><em>There are currently no Tags availiable</em></li>
                {% endfor %}
        </ul>
        
{% endblock %}
